In [14]:
%run boilerplate_transform.ipynb

# Data Ingestion

In [15]:
data_dict = read_data()

# Data Transformation

In [16]:
# Clean Suppliers Table
data_dict["suppliers"] = transform_suppliers(data_dict["suppliers"])
display(data_dict["suppliers"])

,SupplierID,SupplierName,ContactName,Address,City,PostalCode,Country,Phone,supplier_contact
0,1,Exotic Liquid,Charlotte Cooper,49 Gilbert St.,Londona,0,UK,(171) 555-2222,1715552222
1,2,New Orleans Cajun Delights,Shelley Burke,P.O. Box 78934,New Orleans,70117,USA,(100) 555-4822,1005554822
2,3,Grandma Kelly's Homestead,Regina Murphy,707 Oxford Rd.,Ann Arbor,48104,USA,(313) 555-5735,3135555735
3,4,Tokyo Traders,Yoshi Nagase,9-8 Sekimai Musashino-shi,Tokyo,100,Japan,(03) 3555-5011,0335555011
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Calle del Rosal 4,Oviedo,33007,Spain,(98) 598 76 54,985987654
5,6,Mayumi's,Mayumi Ohno,92 Setsuko Chuo-ku,Osaka,545,Japan,(06) 431-7877,064317877
6,7,"Pavlova, Ltd.",Ian Devling,74 Rose St. Moonie Ponds,Melbourne,3058,Australia,(03) 444-2343,034442343
7,8,"Specialty Biscuits, Ltd.",Peter Wilson,29 King's Way,Manchester,0,UK,(161) 555-4448,1615554448
8,9,PB Knäckebröd AB,Lars Peterson,Kaloadagatan 13,Göteborg,0,Sweden,031-987 65 43,0319876543
9,10,Refrescos Americanas LTDA,Carlos Diaz,Av. das Americanas 12.890,São Paulo,5442,Brazil,(11) 555 4640,115554640
10,11,Heli Süßwaren GmbH & Co. KG,Petra Winkler,Tiergartenstraße 5,Berlin,10785,Germany,(010) 9984510,0109984510
11,12,Plutzer Lebensmittelgroßmärkte AG,Martin Bein,Bogenallee 51,Frankfurt,60439,Germany,(069) 992755,069992755
12,13,Nord-Ost-Fisch Handelsgesellschaft mbH,Sven Petersen,Frahmredder 112a,Cuxhaven,27478,Germany,(04721) 8713,047218713
13,14,Formaggi Fortini s.r.l.,Elio Rossi,"Viale Dante, 75",Ravenna,48100,Italy,(0544) 60323,054460323
14,15,Norske Meierier,Beate Vileid,Hatlevegen 5,Sandvika,01320,Norway,(0)2-953010,02953010
15,16,Bigfoot Breweries,Cheryl Saylor,3400 - 8th Avenue Suite 210,Bend,97101,USA,(503) 555-9931,5035559931
16,17,Svensk Sjöföda AB,Michael Björn,Brovallavägen 231,Stockholm,0,Sweden,08-123 45 67,081234567
17,18,Aux joyeux ecclésiastiques,Guylène Nodier,"203, Rue des Francs-Bourgeois",Paris,75004,France,(1) 03.83.00.68,103830068
18,19,New England Seafood Cannery,Robb Merchant,Order Processing Dept. 2100 Paul Revere Blvd.,Boston,02134,USA,(617) 555-3267,6175553267
19,20,Leka Trading,Chandra Leka,"471 Serangoon Loop, Suite #402",Singapore,0512,Singapore,555-8787,5558787
20,22,Zaanse Snoepfabriek,Dirk Luchte,Verkoop Rijnweg 22,Zaandam,0,Netherlands,(12345) 1212,123451212
21,23,Karkki Oy,Anne Heikkonen,Valtakatu 12,Lappeenranta,53120,Finland,(953) 10956,95310956
22,24,"G'day, Mate",Wendy Mackenzie,170 Prince Edward Parade Hunter's Hill,Sydney,2042,Australia,(02) 555-5914,025555914
23,25,Ma Maison,Jean-Guy Lauzon,2960 Rue St. Laurent,Montréal,0,Canada,(514) 555-9022,5145559022
24,26,Pasta Buttini s.r.l.,Giovanni Giudici,"Via dei Gelsomini, 153",Salerno,84100,Italy,(089) 6547665,0896547665
25,27,Escargots Nouveaux,Marie Delamare,"22, rue H. Voiron",Montceau,71300,France,85.57.00.07,85570007
26,28,Gai pâturage,Eliane Noz,"Bat. B 3, rue des Alpes",Annecy,74000,France,38.76.98.06,38769806
27,29,Forêts d'érables,Chantal Goulet,148 rue Chasseur,Ste-Hyacinthe,0,Canada,(514) 555-2955,5145552955
28,21,Lyngbysild,Niels Petersen,Lyngbysild Fiskebakken 10,Lyngby,2800,Denmark,NaN,0

In [17]:
# Clean Shippers Table
data_dict["shippers"] = transform_shippers(data_dict["shippers"])
display(data_dict["shippers"])

  ShipperID        ShipperName            Phone shipper_contact
0        1     Speedy Express   (503) 555-9831       5035559831
1        2     United Package   (503) 555-3199       5035553199
2        3   Federal Shipping   (503) 555-9931       5035559931

In [18]:
# Create aggregate table "product_sales_amount_by_month"
data_dict["product_sales_amount_by_month"] = create_agg_table(data_dict)
display(data_dict["product_sales_amount_by_month"])

                                                       Price  OrderDetailID  \
Year-Month ProductID ProductName
1996-07    2         Chang                             57.00             99
           5         Chef Anton's Gumbo Mix            42.70             72
           7         Uncle Bob's Organic Dried Pears   30.00             42
           11        Queso Cabrales                    21.00              1
           12        Queso Manchego La Pastora         38.00             52
...                                                      ...            ...
1997-03    72        Mozzarella di Giovanni            34.80            597
           74        Longlife Tofu                     30.00           1827
           75        Rhönbräu Klosterbier               7.75            573
           76        Lakkalikööri                      18.00            574
           77        Original Frankfurter grüne Soße   26.00           1162

                                                       OrderID  Quantity  \
Year-Month ProductID ProductName
1996-07    2         Chang                               30777       105
           5         Chef Anton's Gumbo Mix              20520        77
           7         Uncle Bob's Organic Dried Pears     10262        15
           11        Queso Cabrales                      10248        12
           12        Queso Manchego La Pastora           10266        12
...                                                        ...       ...
1997-03    72        Mozzarella di Giovanni              10472        42
           74        Longlife Tofu                       31433        84
           75        Rhönbräu Klosterbier                10463        12
           76        Lakkalikööri                        10463        12
           77        Original Frankfurter grüne Soße     20933        12

                                                        amount  \
Year-Month ProductID ProductName
1996-07    2         Chang                             1995.00
           5         Chef Anton's Gumbo Mix            1643.95
           7         Uncle Bob's Organic Dried Pears    450.00
           11        Queso Cabrales                     252.00
           12        Queso Manchego La Pastora          456.00
...                                                        ...
1997-03    72        Mozzarella di Giovanni            1461.60
           74        Longlife Tofu                      840.00
           75        Rhönbräu Klosterbier                93.00
           76        Lakkalikööri                       216.00
           77        Original Frankfurter grüne Soße    156.00

                                                       percentage_change
Year-Month ProductID ProductName
1996-07    2         Chang                                           NaN
           5         Chef Anton's Gumbo Mix                   -17.596491
           7         Uncle Bob's Organic Dried Pears          -72.626905
           11        Queso Cabrales                           -44.000000
           12        Queso Manchego La Pastora                 80.952381
...                                                                  ...
1997-03    72        Mozzarella di Giovanni                    11.444910
           74        Longlife Tofu                            -42.528736
           75        Rhönbräu Klosterbier                     -88.928571
           76        Lakkalikööri                             132.258065
           77        Original Frankfurter grüne Soße          -27.777778

[393 rows x 6 columns]

# Data Load

In [19]:
file_path = f"{local_path}/GitHub/SIFT-Analytics-DE-Quiz/Part 2/Part 2.2/transformed_data"

In [21]:
for key, data in data_dict.items():
    data.to_csv(f"{file_path}/{key}.csv", index = False)